body {
    margin: 0;
    padding: 0;
    font-family: "League Spartan", sans-serif;
    display:grid;
}

header {
    text-align: center;
    background-color: #071330;
    color: #ffffff;
}

#subhead-overview {
    margin-top: 2rem;
    background-color: #0c4160;
    color: #ffffff;
}

main {
    text-align: center;
}

main p li {
    font-family: "Libre Baskerville", sans-serif;
}

main ul {
    list-style-type: bullet;
}

section {
    align-items: center;
}

#colors {
    margin: 0 auto;
}
/* Color Schema Color pallette */
#color-header {
    background-color: #071330;
    color:#ffffff;
}

#color-subheader {
    background-color: #0c4160;
    color: #ffffff;
}

#color-border {
    background-color: #738fa7;
    color: #ffffff;
}

#color-accent {
    background-color: #c3ceda;
}