
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100vh;
    font-family: "League Spartan", sans-serif;
}


header {
    background-color: #071330;
    color: #ffffff;
}

header h1 {
    text-align: center;
    margin: 0;
}

/*Nav*/
/***************************************/
nav {
    background-color: #071330;
    color: #ffffff;
    justify-items: center;
}




#myButton {
    font-size: 2rem;
    background: none;
    border: none;
    color:#ffffff;
    cursor: pointer;
    text-align: left;
    padding: .30rem 2vw;
    width: 44px;
}


/*Menulinks and other related information when in mobile form*/
ul.menulinks{
    display: none;
    font-family: "Baskerville Libre", sans-serif;
    list-style-type: none;
}

ul.menulinks li a {
    display: block;
    padding: .77rem 2vw;
    color: #ffffff;
}

ul.menulinks a:hover {
    background-color: #c3ceda;
}

ul.open.menulinks{
    display: block;
}


img {
    width: 100%;
    height: auto;
    filter: brightness(0.8);
 }


 
 /*Body*/
 .parent {
    margin: 1rem 2vw;
    align-items: center;
}

.parent section {
    border: 1px solid #000000;
    border-radius: 2px;
    background-color: #eeeeee; /*change later with color*/
    overflow: hidden; /* I need to use this more often!!! */
    margin: 1rem 0;
    font-family: "Baskerville Libre";
}

.parent h2 {
    font-family: "League Spartan", sans-serif;
    text-decoration: underline #000;
    text-align: left;
}

.parent-spotlight {
    margin: 1rem 2vw;
    align-items: center;
}

.parent-spotlight section {
    border: 1px solid #000000;
    border-radius: 2px;
    background-color: #eeeeee; /*change later with color*/
    overflow: hidden; /* I need to use this more often!!! */
    margin: 1rem 0;
    font-family: "Baskerville Libre";
}

.parent-spotlight h2 {
    font-family: "League Spartan", sans-serif;
    text-decoration: underline #000;
    text-align: left;
}

#spotlight1 {
    margin: 1rem;
}


#current-events {
    text-align: center;
}

#current-weather {
    text-align: center;
}


/* company name, description, and contact info */
#company-name {
    font-family: "League Spartan";
    font-size: 1.3rem;
    font-weight: 600;
}

#company-desc {
    text-align: right;
}

#company-contact {
    text-align: center;
}


hr {
    padding: 1rem;
}

/*Footer*/
footer {
    background-color: #415A77;
    color: #ffffff;
    text-align: center;
    padding: 1rem
}

footer p {
    padding: 0.2rem;
}