@media only screen and (min-width: 870px) {
    
   /*Button and Nav CSS*/
   #myButton {
       display: none;
   }

   ul.menulinks, ul.menulinks.open {
       display: flex;
       justify-content: flex-end;
       text-align: center;
   }

   ul.menulinks li {
       flex: 1 1 100%;
       padding: 0.2rem;
   }


   ul.menulinks a:hover {
       background-color: #e0e1dd52;
   }

}