/*Color pallette
#0D1B2A (Rich Black)
#1B263B (Oxford Blue)
#415A77 (YInMn Blue)
#778DA9 (Silver Lake Blue)
#E0E1DD (Platinum)

Note: Use Montserrat for headings, and Open Sans for body/smaller text
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    position: relative;
    min-height: 100vh;
}

/*Header*/
/*************************************************************/
header {
    background-color: #415A77;
    text-align: center;
    color: #ffffff;
}

#personalPhoto {
    width: 130px;
    height: auto;
    border-radius: 15px;
}

#mode {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 3rem;
	cursor: pointer;
	font-size: 2rem;
}

header span {
    min-height: 100px;
    display: inline-flex;
    align-items: center;
    font-size: 1.5rem;
}


/*Main*/
/**************************************************************/
main {
    justify-items: center;
    
}

main.dark {
    background-color: #000000;
}

main.dark h1 {
    color: #ffffff;
}

main h1 {
    font-size: 1.5rem;
    text-align: center;
    text-decoration: underline;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    
}


/* Parent Div and all subsequent child elements */
.parent {
    margin: 1rem 2vw;
}

.parent section {
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #ffffff;
    overflow: hidden; /* I need to use this more often!!! */
    margin: 1rem 0;
}

.parent h2 {
    display: block;
    text-align: center;
    padding: .75rem 0;
    background-color: #1B263B;
    color: #ffffff;
}

.parent ul {
    padding: 1rem;
    list-style-type: none;
}

.parent li {
    font-family: "Open Sans", sans-serif;
    padding: 0.2rem;
}

iframe {
    display: block;
    border-style: none;
    margin-left: auto;
    margin-right: auto;
}


.hero {
    position: relative;
}
.hero picture{
    width: 100%;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

.hero-overlay {
    position: absolute;
    left: 5%;
    top: 20%;
    background:radial-gradient(#fff, #415A77);
    border: 1px solid rgba(12, 1, 1, 0.726);
    border-radius: 4px;
    padding: 1.5rem;
    box-shadow: 0 0 3rem #000;
}

.hero-overlay p {
    font-family: "Open Sans", sans-serif;
    padding: .25rem;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
}

#visitHolder {
    font-family: "Open Sans", sans-serif;
    padding: 1rem;
}

/*Nav & myButton CSS settings (refactored from last push) */
nav {
    background-color: #0D1B2A;
    color: #ffffff;
    justify-items: center;
}




#myButton {
    font-size: 2rem;
    background: none;
    border: none;
    color:#ffffff;
    cursor: pointer;
    text-align: left;
    padding: .30rem 2vw;
    width: 44px;
}


/*Menulinks and other related information when in mobile form*/
ul.menulinks{
    display: none;
    font-family: "Open Sans", sans-serif;
    list-style-type: none;
}

ul.menulinks li a {
    display: block;
    padding: .77rem 2vw;
    color: #ffffff;
}

ul.menulinks a:hover {
    background-color: #e0e1dd52;
}

ul.open.menulinks{
    display: block;
}

/*Footer*/
/*************************************************************/
footer {
    background-color: #415A77;
    color: #ffffff;
    text-align: center;
}



#lastModified {
    color: #ffffff;
}